html{
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.sdgs-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    margin: 40px auto 40px auto;
    width: 90%;
}

.sdgs-left{
    background: #85ff7f;
    padding: 25px 15px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
