html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(152, 246, 243);
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.navbar {
    background-color: cornflowerblue;
    padding: 12px 0;
    font-family: Arial, sans-serif;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.navbar ul li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    background: white;
    padding: 10px 18px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    color: #00796b;
    display: inline-block;
    transition: all 0.2s;
}

.navbar a:hover {
    background-color: thistle;
    color: rgb(110, 85, 110);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px 0;
    min-width: 160px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    flex-direction: column;
    z-index: 1;
}

.dropdown-content a {
    background: transparent;
    padding: 10px 16px;
    color: black;
    border-radius: 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: thistle;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.about-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.about-main-title {
    font-size: 40px;
    color: #007a3d;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

.about-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.about-box {
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-putih-border-hijau {
    background-color: white;
    border: 5px solid #85ff7f;
}

.about-box h3 {
    font-size: 26px;
    color: #004a2a;
    margin-bottom: 5px;
}

.about-box p {
    font-size: 17px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    margin-top: 5px;
}

.about-hijau {
    background-color: #85ff7f;
    border: 5px solid #007a3d;
    text-align: center;
}

.about-hijau p {
    margin-top: 15px;
}

.about-image-wrapper {
    width: 80%;
    margin: 15px auto;
    overflow: hidden;
    border-radius: 12px;
    border: 3px solid white;
}

.about-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}

.about-image:hover {
    transform: scale(1.1);
}
